* {
  margin: 0;
  padding: 0;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  border: 1px solid black;
}
button {
  padding: 10px 15px;
  background: yellowgreen;
  border: none;
  margin: 20px;
}
